
@{
    ViewData["Title"] = "Index";
}



<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <h2>Səhİfə tapılmadı</h2>
            </div>
            <a asp-controller="Home" asp-action="Index">Ana Səhifə</a>
        </div>
    </div>

</body>

