
@{
    ViewData["Title"] = "Index";
}





<!-- Start Bottom Header -->
<div style="background: url('assets/img/background/portfolio_bg.jpg') no-repeat center; background-size: cover;" class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>İşlərimiz</h3>
                    </div>
                    <ul>
                        <li class="home-bread"><a style="color: #ffffff;" asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                        <li>İşlərimiz</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<!-- Start portfolio Area -->
<div class="project-area project-column-3 area-padding">
    <div class="container">
        <div class="row">
            <!-- Start Portfolio -page -->
            <div class="project-content">
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15df90e83df26b.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15df90e83df26b.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15df90bf52ed7e.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15df90bf52ed7e.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15cf2767714418.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15cf2767714418.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="javascript:void(0)"></a></h4>
                            <span></span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15ce808a18662a.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15ce808a18662a.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15cac33c5e0cfa.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15cac33c5e0cfa.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15cac335664889.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15cac335664889.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15bf077aae7514.png" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15bf077aae7514.png">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15bf0777e5d2c5.png" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15bf0777e5d2c5.png">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="https://safee.bike/"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15cac326e2eb98.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15cac326e2eb98.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="http://autograph.az/"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15bf66d2196cf9.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15bf66d2196cf9.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="http://mirsan.az/az"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15b96ba5e3111c.png" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15b96ba5e3111c.png">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15b951c942230c.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15b951c942230c.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15b96b77bb65d4.png" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15b96b77bb65d4.png">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-6 col-sm-6 col-xs-12 design">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img src="upload/project/15b96b667cab05.png" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="upload/project/15b96b667cab05.png">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
            </div>
        </div>
    </div>
    <!-- End main content -->
</div>
<!-- End portfolio Area -->
