
@{
    ViewData["Title"] = "Index";
}
<!-- Start Slider Area -->
<div class="intro-area intro-area-2">
    <div class="main-overly"></div>
    <div class="intro-carousel">
        <div class="intro-content">
            <div class="slider-images">
                <img src="~/assets/img/slider/3.jpg" alt="">
            </div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- layer 1 -->
                                    <div class="layer-1-2">
                                        <h1 style="text-transform: none;" class="title2">Veb layihələr və mobil tətbiqlərin hazırlanması</h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <br><br><br>
                                    <div class="layer-1-3">
                                        <a asp-controller="Services" asp-action="Index" class="ready-btn left-btn">Xidmətlərimiz</a>
                                        <a asp-controller="Portfolio" asp-action="Index"class="ready-btn right-btn">İşlərimiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content">
            <div class="slider-images">
                <img src="~/assets/img/slider/4.jpg" alt="">
            </div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- layer 1 -->
                                    <div class="layer-1-2">
                                        <h1 style="text-transform: none;" class="title2">SEO, SMM və Online marketinq xidmətləri</h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <br><br><br>
                                    <div class="layer-1-3">
                                        <a asp-controller="Services" asp-action="Index"class="ready-btn left-btn">Xidmətlərimiz</a>
                                        <a asp-controller="Portfolio" asp-action="Index" class="ready-btn right-btn">İşlərimiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Welcome service area start -->
<div class="welcome-area area-padding">
    <div class="container">
        <div class="row">
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/1.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-blueprint"></i>Rəqəmsal strategiya</a>
                            <a href="#"><i class="flaticon-bookmark-1"></i>Müştəri təhlili</a>
                            <a href="#"><i class="flaticon-folder-14"></i>Rəqəmsal istehsal</a>
                            <a href="#"><i class="flaticon-megaphone-1"></i>İnteqrasiya kampaniyası</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Strategİya və Analİtİka</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/2.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-newspaper"></i>Vebsayt dizaynı</a>
                            <a href="#"><i class="flaticon-settings-3"></i>Saytın hazırlanması</a>
                            <a href="#"><i class="flaticon-app"></i>Mobil proqramlaşdırma</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Dİzayn və Proqramlaşdırma</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/3.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-layers"></i>Sosial media marketinqi</a>
                            <a href="#"><i class="flaticon-paper-plane"></i>SEO</a>
                            <a href="#"><i class="flaticon-worldwide"></i>Rəqəmsal reklam</a>
                            <a href="#"><i class="flaticon-speaker-2"></i>İnteraktiv kampaniyalar</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Online Marketing</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
        </div>
    </div>
</div>
<!-- Welcome service area End -->
<!-- Start Service area -->
<div class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Bizim <span class="color">Xidmətlərimiz</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-all">
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-settings-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Veb Layihələr</a></h4>
                            <p>Ən son texnologiyalardan istifadə edərək, hər növ veb layihələrin yüksək peşəkarlıqla hazırlanması</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-smartphone-10"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Mobil tətbiqlər</a></h4>
                            <p>Android və İOS əməliyyat sistemləri ilə işləyən mobil cihazlar üçün mobil tətbiqlərin hazırlanması</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-television-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Rəqəmsal reklam</a></h4>
                            <p>Biznesinizin inkişafı üçün məhsul və xidmətlərinizin rəqəmsal reklam kampaniyalarının təşkili</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-network"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">SEO və SMM xidmətləri</a></h4>
                            <p>Veb saytların axtarış sistemlərinə uyğun optimizasiya edilməklə axtarış nəticələrində önə çəkilməsi</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-megaphone-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Onlayn marketinq</a></h4>
                            <p>Decode Veb Agency biznesinizi internet platformalara daşımaq üçün onlayn marketinq xidmətlərini təklif edir</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-user-7"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Texniki dəstək</a></h4>
                            <p>Layihələrdə yaranan problemlərin mütəxəsislər tərəfindən qısa zamanda aradan qaldırılması</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service area -->
<!-- Start Brand Area -->
<div class="brand-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3><span class="color">Müştərilərimiz</span></h3>
                    <p>Onlar bizi seçərək öz seçimlərini ediblər.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="brand-items">
                    <div class="brand-carousel item-indicator">
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/1.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/2.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/3.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/4.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/5.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/6.png" alt=""></a>
                        </div>
                        <div class="single-brand-item">
                            <a href="javascript:voild(0);"><img src="~/assets/img/client/7.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Brand Area -->
<!-- Start project Area -->
<div class="project-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Son <span class="color">İşlərimiz</span></h3>
                    <p>Bizim üçün hər bir layihə yeni bir həyəcan, yeni bir macəradır.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-all">

                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- single-awesome-project start -->
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://olympus.az/">
                                <img src="~/upload/project/15df90bf52ed7e.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="~/upload/project/15df90bf52ed7e.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542; text-transform: none;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                </div>
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- single-awesome-project start -->
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="javascript:void(0)">
                                <img src="~/upload/project/15cf2767714418.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="~/upload/project/15cf2767714418.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542; text-transform: none;" target="_blank" href="javascript:void(0)"></a></h4>
                            <span></span>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                </div>
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- single-awesome-project start -->
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://vaccari.az/">
                                <img src="~/upload/project/15ce808a18662a.jpg" alt="" />
                            </a>
                            <div class="add-actions text-center">
                                <a class="venobox" data-gall="myGallery" href="~/upload/project/15ce808a18662a.jpg">
                                    <i class="port-icon icon icon-picture"></i>
                                </a>
                            </div>
                        </div>
                        <div class="project-dec text-center">
                            <h4><a style="color: #02d542; text-transform: none;" target="_blank" href="#"></a></h4>
                            <span>Veb sayt</span>
                        </div>
                    </div>
                    <!-- single-awesome-project end -->
                </div>

                <div class="col-md-12 text-center">
                    <a class="load-more-btn" asp-controller="Portfolio" asp-action="Index">Daha Çox</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End main content -->
</div>
<!-- End project Area -->
<!-- Start Banner Area -->
<div class="banner-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-content text-center">
                    <h4>Online biznesiniz üçün tərəfdaş axtarışındasız?</h4>
                    <div class="banner-contact">
                        <span class="call-us"><i class="icon icon-phone-handset"></i>Zəng edin:  +994 77 460 90 72</span><span>vəya</span>
                        <a class="banner-btn" asp-controller="Contact" asp-action="Index" target="_blank">Bizimlə əlaqə saxlayın</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!--Blog Area Start-->
<div class="blog-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Son <span class="color"> Məqalələr</span></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-grid home-blog">
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a class="image-scale" asp-controller="Https" asp-action="Index">
                                <img src="~/upload/news/15b9654ad4668a.png" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a asp-controller="Https" asp-action="Index">
                                    <h4 style="margin-top: 10px; text-transform: none;" class="text-center">Http ilə Https fərqini bilirsinizmi? </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a class="image-scale" asp-controller="Https" asp-action="Index">
                                <img src="~/upload/news/15b965323c57e0.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a asp-controller="Https" asp-action="Index">
                                    <h4 style="margin-top: 10px; text-transform: none;" class="text-center">Saytın responsivliyi mütləqdir?</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a class="image-scale" asp-controller="SingleWeb" asp-action="Index">
                                <img src="~/upload/news/15b964f4f5de92.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a asp-controller="SingleWeb" asp-action="Index">
                                    <h4 style="margin-top: 10px; text-transform: none;" class="text-center">Dünyanın ilk veb saytını görmüsünüz?</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->