@{
    ViewData["Title"] = "Index";
}
<!-- Welcome service area start -->
<div class="welcome-area area-padding">
    <div class="container">
        <div class="row">
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/1.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-blueprint"></i>Rəqəmsal strategiya</a>
                            <a href="#"><i class="flaticon-bookmark-1"></i>Müştəri təhlili</a>
                            <a href="#"><i class="flaticon-folder-14"></i>Rəqəmsal istehsal</a>
                            <a href="#"><i class="flaticon-megaphone-1"></i>İnteqrasiya kampaniyası</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Strategİya və Analİtİka</h4>
                        </div>                                                                                        
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/2.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-newspaper"></i>Vebsayt dizaynı</a>
                            <a href="#"><i class="flaticon-settings-3"></i>Saytın hazırlanması</a>
                            <a href="#"><i class="flaticon-app"></i>Mobil proqramlaşdırma</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Dİzayn və Proqramlaşdırma</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="well-services">
                    <div class="services-img">
                        <img src="~/assets/img/service/3.png" alt="">
                        <div class="image-layer">
                            <a href="#"><i class="flaticon-layers"></i>Sosial media marketinqi</a>
                            <a href="#"><i class="flaticon-paper-plane"></i>SEO</a>
                            <a href="#"><i class="flaticon-worldwide"></i>Rəqəmsal reklam</a>
                            <a href="#"><i class="flaticon-speaker-2"></i>İnteraktiv kampaniyalar</a>
                        </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content text-center">
                            <h4>Online Marketing</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
        </div>
    </div>
</div>
<!-- Welcome service area End -->
<!-- Start Service area -->
<div class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Bizim <span class="color">Xidmətlərimiz</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-all">
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-settings-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Veb Layihələr</a></h4>
                            <p>Ən son texnologiyalardan istifadə edərək, hər növ veb layihələrin yüksək peşəkarlıqla hazırlanması</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-smartphone-10"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Mobil tətbiqlər</a></h4>
                            <p>Android və İOS əməliyyat sistemləri ilə işləyən mobil cihazlar üçün mobil tətbiqlərin hazırlanması</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-television-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Rəqəmsal reklam</a></h4>
                            <p>Biznesinizin inkişafı üçün məhsul və xidmətlərinizin rəqəmsal reklam kampaniyalarının təşkili</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-network"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">SEO və SMM xidmətləri</a></h4>
                            <p>Veb saytların axtarış sistemlərinə uyğun optimizasiya edilməklə axtarış nəticələrində önə çəkilməsi</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-megaphone-1"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Onlayn marketinq</a></h4>
                            <p>Delete.Az Veb Agency biznesinizi internet platformalara daşımaq üçün onlayn marketinq xidmətlərini təklif edir</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <span class="trand"><i class="flaticon-spotlight"></i></span>
                        <a class="service-images" href="javascript:voild(0);"><i class="flaticon-user-7"></i></a>
                        <div class="service-content">
                            <h4 style="text-transform: none;"><a href="javascript:voild(0);">Texniki dəstək</a></h4>
                            <p>Layihələrdə yaranan problemlərin mütəxəsislər tərəfindən qısa zamanda aradan qaldırılması</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service area -->