<!doctype html>

<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125592246-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-125592246-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delete.az web agency - web saytların hazırlanması</title>
    <meta name="description" content="Delete web agency . web saytlarin hazirlanmasi">
    <meta name="keywords" content="Delete, Delete.az, web sayt, sayt sifarişi, seo azərbaycan, smm azərbaycan, sayt açmaq, sayt acmaq">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/img/logo/favicon.png" type="image/gif" sizes="16x16">
    <meta name="yandex-verification" content="c23ab06b351c8b79" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/img/logo">
    <!-- define base url -->
    <base />
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/icon.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="~/assets/css/magnific.min.css">
    <!-- venobox css -->
    <link rel="stylesheet" href="~/assets/css/venobox.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style3431.css?v1.02">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link type="text/css" rel="stylesheet" href="errorcss/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">



    <!-- modernizr css -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = '../connect.facebook.net/tr_TR/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="248861355696595" theme_color="#02d542" logged_in_greeting="Salam. Sizə necə kömək edə bilərik?" logged_out_greeting="Salam. Sizə necə kömək edə bilərik?">
    </div>

    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div id="preloader"></div>
    <header class="header-two">
        <!-- Start top bar -->
        <div class="topbar-area topbar-area-2 fix hidden-xs">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6 col-sm-8">
                        <div class="topbar-left">
                            <ul>
                                <li><a href="mailto:deleteazwebagency@gmail.com"><i class="fa fa-envelope"></i>deleteazwebagency@gmail.com</a></li>
                                <li><a href="tel:+994 70 245 57 27"><i class="fa fa-phone"></i>+994 70 245 57 27</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <div class="top-social">
                            <ul>
                                <li><a target="_blank" href="https://api.whatsapp.com/send?phone=994702455727"><i class="fa fa-whatsapp"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/Delete.az/"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- header-area start -->
        <div id="sticker" class="header-area header-area-2 hidden-xs">
            <div class="container">
                <div class="row">
                    <!-- logo start -->
                    <div class="col-md-3 col-sm-3">
                        <div class="logo">
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                <img id="l1" style="max-width: 180px;" src="~/assets/img/logo/logo2.png" alt="">
                                <img id="l2" style="max-width: 220px;" src="~/assets/img/logo/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- logo end -->
                    <div class="col-md-9 col-sm-9">
                        <!-- mainmenu start -->
                        <nav class="navbar navbar-default">
                            <div class="collapse navbar-collapse" id="navbar-example">
                                <div class="main-menu">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                                        <li><a asp-controller="Portfolio" asp-action="Index">İşlərimiz</a></li>
                                        <li><a asp-controller="Services" asp-action="Index">Xidmətlərimiz</a></li>
                                        <li><a asp-controller="Blog" asp-action="Index">Bloq</a></li>
                                        <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- mainmenu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <div class="logo">
                                <a href="index.html"><img src="~/assets/img/logo/logo.png" alt="" /></a>
                            </div>
                            <nav id="dropdown">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                                    <li><a asp-controller="Portfolio" asp-action="Index">İşlərimiz</a></li>
                                    <li><a asp-controller="Services" asp-action="Index">Xidmətlərimiz</a></li>
                                    <li><a asp-controller="Blog" asp-action="Index">Bloq</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->
    </header>
    <!-- header end -->
@RenderBody()

<!-- Start Footer bottom Area -->
<footer>
    <div style="padding-bottom: 25px; padding-top: 32.5px;" class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a href="#"><img style="max-width: 180px;" src="~/assets/img/logo/logo2.png" alt=""></a>
                            </div>
                            <p>Veb saytınızı hazırlamaq uzun bir yolun ilk addımdır. İşimiz bitdiyi zaman müştəri ilə əlaqəni kəsmirik. Rəqəmsal marketinq , texniki xidmət, dəstək, yenilənmə və veb saytınızın inkişafı üçün hər dəstəyi təklif edirik.</p>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>keçİdlər</h4>
                            <ul class="blog-content">
                                <li><a style="line-height: 34px;" class="blog-btn" asp-controller="About" asp-action="Index"    >Haqqımızda</a></li>
                                <li><a style="line-height: 34px;" class="blog-btn" asp-controller="Portfolio" asp-action="Index"   >İşlərimiz</a></li>
                                <li><a style="line-height: 34px;" class="blog-btn" asp-controller="Services" asp-action="Index"   >Xidmətlərimiz</a></li>
                                <li><a style="line-height: 34px;" class="blog-btn" asp-controller="Blog" asp-action="Index"  >Bloq</a></li>
                                <li><a style="line-height: 34px;" class="blog-btn" asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Əlaqə</h4>
                            <ul class="blog-content">
                                <li>
                                    <p style="line-height: 34px;"><i style="font-size: 120%; color: #02d542;" class="fa fa-phone-square"></i> <a style="color: #f2f2f2; font-size: 110%;" href="tel:+994 70 2455727"> +994 70 245 57 27</a></p>
                                </li>
                                <li>
                                    <p style="line-height: 34px;"><i style="font-size: 120%; color: #02d542;" class="fa fa-envelope-o"></i> <a style="color: #f2f2f2; font-size: 110%;" href="mailto:deleteazwebagency@gmail.com">deleteazwebagency@gmail.com</a></p>
                                </li>
                            </ul>
                            <div class="footer-icons">
                                <ul>
                                    <li><a target="_blank" href="https://api.whatsapp.com/send?phone=99455774609072"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.facebook.com/Delete.az/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            Copyright © 2020 <a asp-controller="Home" asp-action="Index">Delete</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- all js here -->
<!-- jquery latest version -->
<script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap js -->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="~/assets/js/owl.carousel.min.js"></script>
<!-- Counter js -->
<script src="~/assets/js/jquery.counterup.min.js"></script>
<!-- waypoint js -->
<script src="~/assets/js/waypoints.js"></script>
<!-- isotope js -->
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<!-- stellar js -->
<script src="~/assets/js/jquery.stellar.min.js"></script>
<!-- magnific js -->
<script src="~/assets/js/magnific.min.js"></script>
<!-- venobox js -->
<script src="~/assets/js/venobox.min.js"></script>
<!-- meanmenu js -->
<script src="~/assets/js/jquery.meanmenu.js"></script>
<!-- Form validator js -->
<script src="~/assets/js/form-validator.min.js"></script>
<!-- plugins js -->
<script src="~/assets/js/plugins.js"></script>
<!-- main js -->
<script src="~/assets/js/main.js"></script>
</body>



</html>