
@{
    ViewData["Title"] = "Index";
}

<!-- Start Bottom Header -->
<div style="background: url('~/../upload/news/15b965323c57e0.jpg') no-repeat center; background-size: cover;" class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Saytın responsivliyi mütləqdir?</h3>
                    </div>
                    <ul>
                        <li class="home-bread"><a style="color: #ffffff;" asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                        <li><a style="color: #ffffff;" asp-controller="Blog">Bloq</a></li>
                        <li>Saytın responsivliyi mütləqdir?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<!--Blog Area Start-->
<div class="blog-page-area area-padding">
    <div class="container">
        <div class="row">
            <div class="blog-details">
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- single-blog start -->
                    <article class="blog-post-wrapper">
                        <div class="blog-banner">
                            <a href="javascript:voild(0);" class="blog-images">
                                <img src="../upload/news/15b965323c57e0.jpg" alt="">
                            </a>
                            <div class="blog-content">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a href="javascript:voild(0);"><h4 style="text-align: center; text-transform: none; margin-top: 20px;">Saytın responsivliyi mütləqdir?</h4></a>
                                <p>Mobil cihazların həyatımıza s&uuml;rətlə daxil olması ilə, internetdən istifadə masa&uuml;st&uuml; komp&uuml;terlərə nisbətdə mobil cihazlarda daha cox &uuml;st&uuml;nl&uuml;k təşkil edir. Bu səbəbdən də , mobil cihazlarla veb saytımıza daxil olan istifadə&ccedil;ilər s&uuml;rətli və asan şəkildə istədikləri informasiyanı əldə etməli, həm&ccedil;inin təklif etdiyimiz xidmətdən rahatlıqla faydalanmalıdırlar.</p><p>Elə bu zaman saytın responsiv olması zərurəti yaranır.</p><p>&Ccedil;oxda texniki detallara toxunmadan, b&uuml;t&uuml;n cihazlarda (telefon, tablet və masa&uuml;st&uuml; komp&uuml;terlərdə) d&uuml;zg&uuml;n (cihazın &ouml;l&ccedil;&uuml;lərinə uyğun) formada g&ouml;r&uuml;nən saytlara responsiv saytlar demək olar</p>
                            </div>
                        </div>
                    </article>
                    <div class="clear"></div>
                    <!-- single-blog end -->
                </div>
                <!-- End main column -->
            </div>
        </div>
        <!-- End row -->
        <div style="margin-top: 50px;" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Digər <span class="color"> Məqalələr</span></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="blog-grid home-blog">
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a class="image-scale" asp-controller="Https" asp-action="Index">
                                <img src="../upload/news/15b9654ad4668a.png" alt="Http ilə Https fərqini bilirsinizmi? ">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a asp-controller="Https" asp-action="Index">
                                    <h4 style="text-transform: none;" class="text-center">Http ilə Https fərqini bilirsinizmi? </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a class="image-scale" asp-controller="SingleWeb" asp-action="Index">
                                <img src="../upload/news/15b964f4f5de92.jpg" alt="Dünyanın ilk veb saytını görmüsünüz?">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <div style="background-color: transparent;" class="blog-meta">
                                </div>
                                <a asp-controller="SingleWeb" asp-action="Index">
                                    <h4 style="text-transform: none;" class="text-center">Dünyanın ilk veb saytını görmüsünüz?</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->
